<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{%static 'basic.css'%}">
        <style>
            
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header"><h1 class="Heading">Online Restaurant</h1></div>
            <div class="menu">
                <a href="#" style="padding-right : 20px;">Menu    </a>
                <a href="#" style="padding-right : 20px; padding-left : 20px;">Cart    </a>
                <a href="#" style="padding-right : 20px; padding-left : 20px;">About Us    </a>
                <a href="#" id="loginLink" data-toggle="modal" data-target="#loginModal" style="padding-right : 20px; padding-left : 20px;">Login    </a>
                <a href="#" id="signupLink" data-toggle="modal" data-target="#signupModal" style="padding-right : 20px; padding-left : 20px;">Sign Up</a>
            </div>
            
            <div class="content">
                <h3 class="menu-hint">Take a look at our menu : </h3><br>
                

                    {% for i in data %}
                    <div class="menu-container"><!-- Added flex container -->
                    <!-- <div class="flexbox"> -->
                        <figure id="menu-item-img">
                            <!-- <img src="{{ i.item_photo }}" alt="Item photo"> -->
                        </figure>
                        <div class="item-details">
                            <p><strong>{{ i.item_name }}</strong></p>
                            <!-- <p>{{ i.item_description }}</p> -->
                            <p class="add-to-cart"><a href="#" id="loginLink" data-toggle="modal" data-target="#loginModal" >Add to cart @ &#8377;{{ i.item_price }}</a></p> <!-- Display price with rupees sign -->
                        </div>
                    <!-- </div> -->
                </div><!-- Added closing tag for flex container -->
                {% endfor %}

                
                
            </div>
            <div class="footer">FOOTER</div>
        </div>
    </body>
</html>